<header>
<center><%= image_tag "stormsurge_logo2.png" %>
</center>
</header>

<ul id="featured">
  <li>
    <div id="main">
      <%= image_tag "site_welcome.png" %>
      <aside id="list">
        <h2>Welcome</h2>
        <p>StormSurge is designed to keep you selectively connected by prioritising your data needs during times of disaster by enabling emergency battery management, broadcasting your safety to loved ones  and retrieving localised information regarding storm status.</p>
      </aside>
    </div>
  </li>
  <li>
    <div id="main">
      <%= image_tag "site_contact.png" %>

      <aside id="list">
        <h2>Broadcast</h2>
        <p>There's some text here.</p>
      </aside>
    </div>
  </li>
  <li>
    <div id="main">
      <%= image_tag "site_map.png" %>
      <aside id="list">
        <h2>Find Resources</h2>
        <p>There's some text here.</p>
      </aside>
    </div>
  </li>
  <li>
    <div id="main">
      <%= image_tag "site_list.png" %>

      <aside id="list">
        <h2>List Resources</h2>
        <p>There's some text here.</p>
      </aside>
    </div>
  </li>

  <li>
    <div id="main">
      <%= image_tag "site_report.png" %>

      <aside id="list">
        <h2>Request Help</h2>
        <p>There's some text here.</p>
      </aside>
    </div> 
  </li>
</ul>