<header>
<center><%= image_tag "stormsurge_logo2.png" %>
</center>
</header>

<ul id="featured">
  <li>
    <div id="main">
      <%= image_tag "site_welcome.png" %>
      <aside id="list">
        <h2>Welcome</h2>
        <p>StormSurge is designed to keep you selectively connected by prioritising your data needs during times of disaster by enabling emergency battery management, broadcasting your safety to loved ones  and retrieving localised information regarding storm status.</p>
      </aside>
    </div>
  </li>
  <li>
    <div id="main">
      <%= image_tag "site_contact.png" %>

      <aside id="list">
        <h2>Broadcast</h2>
        <p>Clear and convenient communication with loved ones during times of spotty connectivity has become a necessity. By sending only one SMS, Broadcast efficiently allows you to send notifications of your status during an emergency to a preemptively created list of family and friends. </p><br />
        <p>Keep up to date on weather conditions in your area with an easily accessible weather widget.</p>
      </aside>
    </div>
  </li>
  <li>
    <div id="main">
      <%= image_tag "site_map.png" %>
      <aside id="list">
        <h2>Find Resources</h2>
        <p>Cache local maps with information regarding food banks, evacuations centers, shelters and other official city waypoints. Grab updates to  when cycled out of airplane mode to stay up to date on emergency resources. </p>
      </aside>
    </div>
  </li>
  <li>
    <div id="main">
      <%= image_tag "site_power.png" %>

      <aside id="list">
        <h2>Battery Management</h2>
        <p>By cycling out of airplane mode for set time intervals, you can still send and receive data while extending your battery life. Easy access to battery management settings allows you to toggle Bluetooth, LTE/4G and Wifi settings. Broadcast to your emergency network if your battery level falls below a set percentage.</p>
      </aside>
    </div>
  </li>

  <li>
    <div id="main">
      <%= image_tag "site_report.png" %>

      <aside id="list">
        <h2>Report Issues</h2>
        <p>Help accelerate the progress of disaster relief by reporting issues to your local government: add a photo, location and description of problems within your community, such as downed power lines, flooding or collapsed structures.</p>
      </aside>
    </div> 
  </li>
</ul>